<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Secure App</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label>Username:</label><br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        <label>Password:</label><br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
        <br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
